@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}

#container {
  width: 1400px;
  margin: 30px auto 0;
}

#container .blog-post div a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-image: radial-gradient(
    circle 986.6px at 10% 20%,
    rgba(251, 6, 6, 0.94) 0%,
    rgba(3, 31, 213, 1) 82.8%,
    rgba(248, 101, 248, 1) 87.9%
  );
  color: #fff;
  transition: opacity 0.2s ease;
}

#container .blog-post div a:hover {
  opacity: 0.8;
}

.blogs-inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.blogs-inner .blog {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-bottom: 2px solid #ccc;
}

.blogs-inner .blog .image {
  text-align: center;
}

.blogs-inner .blog .image img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.blogs-inner .blog .image .name {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: 600;
}

.blogs-inner .blog .post {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blogs-inner .blog .post .contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blogs-inner .blog .post .contents .content {
  text-align: center;
}

.blogs-inner .blog .post .contents .title {
  font-size: 1.8rem;
  font-weight: 600;
}

.blogs-inner .blog .post .contents a {
  text-decoration: underline;
  color: #12f7;
  font-weight: 600;
}

.blogs-inner .blog .post .time {
  font-size: 1.4rem;
  font-weight: 600;
  font-style: italic;
  color: #aaa;
}

.blogs-inner .blog .view-detail {
  border: 1px solid #ccc;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
}

.blogs-inner .blog .view-detail span {
  display: inline-block;
  width: 140px;
  padding: 10px 20px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: #fff;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

.blogs-inner .blog .view-detail a:hover {
  opacity: 0.8;
}

.time-remain {
  margin-top: 20px;
}

/* Login and Register */

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

.container a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.home a {
  display: inline-block;
  border-radius: 5px;
  position: relative;
  padding: 10px 20px;
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  color: #fff;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: absolute;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

/* loading */

#loading {
  position: fixed;
  inset: 0 0 0 0;
  background: #ccc;
  display: none;
  opacity: 0.6;
  z-index: 9999;
}

.loader {
  border: 16px solid #fff;
  border-radius: 50%;
  border-top: 16px solid #34db93;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 9999;
  backdrop-filter: blur(8px);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.profile {
  list-style-type: none;
  display: flex;
  column-gap: 10px;
}

.profile .name {
  font-size: 2rem;
  font-weight: 700;
}

.post-article {
  margin-top: 20px;
  padding: 20px 0;
}

.label-form {
  font-weight: 600;
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-bottom: 20px;
}

.form-group #content {
  overflow: auto;
  resize: none;
  word-wrap: break-word;
}

#container .back-home {
  width: 150px;
  padding: 10px 20px;
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  color: #fff;
  cursor: pointer;
}

.blog-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.blog-detail img {
  width: 800px;
  height: 800px;
  border-radius: 8px;
  object-fit: cover;
}

.blog-detail .name {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 700;
}
